
<h1>Events:</h1>

<section>
  <h3>All Events:</h3>
  <%= render partial: 'shared/events', locals: { section_title: 'Upcoming:', events: @all_events.upcoming } %>
  <%= render partial: 'shared/events', locals: { section_title: 'Past:', events: @all_events.past } %>
</section>
