
<h1>Event Information:</h1>

<section>
  Event: <%= @event.name  %><br>
  Place: <%= @event.place %><br>
  Date: <%= @event.date %><br>
  Organized by: <%= @event.organizer.name %>
</section>
<section>
  <h3>Attendees:</h3>

</section>
